body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}