.topo div {
    background-color: dodgerblue;
    padding: 10px;
    /* margin: 10px; */
    color: white;
    text-align: center;
}

.topo {
    background-color: bisque;
    height: 600px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40% 60%;
    gap: 10px 10px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    background-color: aquamarine;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-template-areas:
        'topo topo topo'
        'menu principal direito'
        'menu rodape';
}

#s1 {
    grid-area: topo;
}

#s2 {
    grid-area: menu;
}

#s3 {
    grid-area: principal;
}

#s4 {
    grid-area: direito;
}