/* botão do pânico: */
/* * { border: 1px solid red; } */

/* -------------------------------------------------------------------------- */
/*                                RESET GLOBAL                                */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

/* VARIÁVEIS */
:root {
  --primary: #7A2E2E;
  --secondary: #4A1E1E;
  --dark: #333333;
  --light: #f4f4f4;
  --bg: #FBF6ED;
}

body {
  background-color: var(--bg);
  color: var(--dark);
  line-height: 1.6;
}

/* CONTAINER PRINCIPAL */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                FLEXBOX                                     */
/* -------------------------------------------------------------------------- */
.flex { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.align-center { align-items: center; }
.justify-center { justify-content: center; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.wrap { flex-wrap: wrap; }
.gap {
   gap: 20px;
}


/* TEXTOS */
.text-center { text-align: center; }
.text-primary { color: var(--primary); }
.bold { font-weight: bold; }

.mt { margin-top: 50px; }
.mb { margin-bottom: 50px; }

/* -------------------------------------------------------------------------- */
/*                                REUTILITÁRIOS                               */
/* -------------------------------------------------------------------------- */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
}
.btn:hover { opacity: 0.8; }
.btn-primary { background: var(--primary); color: white; }
.btn-secondary { background: transparent; border: 2px solid var(--primary); color: var(--primary); }
